.other {
    display: grid;
    width: 80%;
    height: 80%;
    grid-template-columns: 35% 15% 50%;
    align-items: center;
  }
  
  .other .left {
    display: flex;
    font-size: var(--content);
    color: var(--text);
  }
  
  .other .middle {
    display: flex;
    font-size: var(--content);
    color: var(--text);
    text-align: right;
  }
  
  .other .right {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .other {
      width: 95%;
      height: 90%;
      grid-template-columns: 1fr;
      transform: translateY(40px);
    }
  
    .other .left {
      text-align: center;
      justify-content: center;
    }
  }
  