.faq {
  display: grid;
  width: 80%;
  height: 80%;
  transform: translateX(-2%);
}

.faq .background {
  display: flex;
  border-radius: var(--border);
  padding: var(--padding);
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

.faq .layout {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: var(--padding);
  height: 100%;
}

.note {
  display: flex;
  flex-direction: column;
  border-radius: var(--border);
  padding: var(--padding);
  justify-content: center;
  text-align: center;
  min-width: 0;
  background-color: var(--background);
}

.text {
  font-size: var(--box);
  line-height: var(--line-height-description);
  color: var(--text);
}

.text .heading {
  font-size: var(--content);
  line-height: var(--line-height-content);
}

@media (max-width: 1024px) {
  .faq {
    transform: translateY(2%);
    width: 90%;
    height: 85%;
  }
}

@media (max-width: 768px) {
  .faq {
    transform: translateY(2%) translateX(-1%);
  }

  .faq .layout {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 100%);
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .note {
    scroll-snap-align: start;
  }

  .text {
    font-size: var(--content);
    line-height: var(--line-height-content);
  }

  .text .heading {
    font-size: var(--title);
    line-height: var(--line-height-title);
  }
}
