.faq {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 97% 3%;
  align-items: center;
}

.faq .background {
  display: flex;
  height: 100%;
  background-color: var(--secondary);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.faq .layout {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
  height: 97%;
  width: 98.5%;
}

.note {
  display: flex;
  background-color: var(--background);
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.text {
  font-size: var(--box);
  line-height: var(--line-height-description);
  color: var(--text);
}

.text .heading {
  font-size: var(--content);
  line-height: var(--line-height-content);
}

@media (max-width: 1024px) {
  .faq {
    transform: translateY(2%);
    width: 90%;
    height: 85%;
  }

  .faq .background {
    height: 87%;
  }

  .faq .layout {
    height: 98%;
  }
}

@media (max-width: 768px) {
  .faq .layout {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 100%);
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 97.5%;
  }

  .faq .background {
    border-radius: 5px;
  }

  .faq .layout {
    height: 99%;
  }

  .note {
    scroll-snap-align: start;
  }

  .text {
    line-height: var(--line-height-content);
  }

  .text .heading {
    font-size: var(--title);
    line-height: var(--line-height-title);
  }
}
