.charachters {
  display: grid;
  width: 60%;
  height: 60%;
}

.charachters .background {
  display: flex;
  border-radius: var(--border);
  padding: var(--padding);
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

.charachters .layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--padding);
  width: 100%;
  height: 100%;
}

.box {
  perspective: 500px;
  border-radius: var(--border);
  background-color: var(--primary);
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: transform 1000ms;
  transform-style: preserve-3d;
}

.front,
.back {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  color: var(--text);
  font-size: var(--description);
}

.card .back {
  transform: rotateY(180deg);
}

.card .front {
  transform: rotateY(0deg);
}

.front img,
.back img {
  backface-visibility: hidden;
  width: 90%;
  height: auto;
}

@media (max-width: 1024px) {
  .charachters {
    transform: translateY(2%);
    width: 90%;
    height: 60%;
  }
}

@media (max-width: 768px) {
  .charachters {
    width: 65%;
    height: 70%;
  }

  .charachters .layout {
    grid-template-columns: repeat(3, 100%);
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .card {
    scroll-snap-align: start;
  }
}

@media (max-width: 480px) {
  .charachters {
    width: 65%;
    height: 65%;
  }
  .front img,
  .back img {
    width: 80%;
  }
}
