.achievements {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 97% 3%;
  align-items: center;
}

.achievements .background {
  display: flex;
  height: 100%;
  background-color: var(--secondary);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.layout {
  display: grid;
  grid-template-rows: repeat(1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  height: 95%;
  width: 97%;
}

.box {
  perspective: 500px;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: var(--primary);
  border-radius: 15px;
  transition: transform 1000ms;
  transform-style: preserve-3d;
  position: relative;
  will-change: transform;
}

.front,
.back {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.card .front {
  transform: rotateY(0deg);
}

.front img {
  backface-visibility: hidden;
}

.back {
  text-align: center;
  color: var(--text);
  font-size: var(--description);
  transform: rotateY(180deg) rotateZ(180deg);
}

@media (max-width: 1024px) {
  .achievements {
    grid-template-columns: 1fr;
    transform: translateY(4%);
    width: 90%;
    height: 85%;
  }

  .layout {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 97%;
  }

  .front img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .achievements {
    width: 85%;
    transform: translateY(40px) translateX(-2.5%);
  }

  .layout {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 100%);
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 97.5%;

    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .card {
    scroll-snap-align: start;
  }

  .front img {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .front img {
    width: 95%;
  }
}
